* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --header-color: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --black-2: rgb(0, 0, 0);
}


/* HEADER */

.header-main {
    background-color: var(--black);
    min-width: 1700px;
    min-height: 120px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    color: var(--header-color);
    min-height: 90px;
}

.h1-main {
    margin-left: 5%;
    font-size: 285%;
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 46%;
    height: 3.5vh;
    background-color: rgb(73, 19, 19);
    display: flex;
    align-items: center;
    min-height: 30px;

}

.input-main-search {
    width: 85%;
    height: 100%;
}

#search-input {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
}

#search-input :focus {
    border-radius: 0.3rem 0rem 0rem 0.3rem;

}

.input-main-button {
    display: flex;
    align-items: center;
    width: 15%;
    height: 90%;
    margin-top: 0.1%;

}

#search-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--white);
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    cursor: pointer;

}

#search-button:hover {
    background-color: rgb(235, 235, 235);
}

.ul-header {
    display: flex;
    align-items: center;
    list-style: none;
    width: 19%;
    font-weight: 300;


}

.ul-header li {
    font-size: 160%;
    padding-right: 5%;
}

.nav-sec {
    display: flex;
    height: 5vh;
    justify-content: center;
    background-color: var(--black);
}

.ul-sec {
    font-size: 130%;
    width: 95%;
    height: 100%;
    display: flex;
    color: var(--header-color);
    list-style: none;
    justify-content: space-between;
    font-weight: 300;
    display: flex;
    align-items: center;
}

/* BODY */


.image-main {
    width: 100%;
    margin: 0 auto;
}

.image-main img {
    height: 85vh;
}