@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

 body{
    background-image: url('../imgs/background/back.png');
    background-size: cover;
    background-position: center;
} 

:root {
    --header-color: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --red : rgb(255, 44, 44);
    --card : #282828;
    --letra-card : #778188;
    --button-color: #990423;
    --button-color-2: #FF0036;    

}

/* HEADER */

.header-main {
    background-color: var(--black);
    min-width: 1370px;
    min-height: 120px;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    color: var(--header-color);
    min-height: 90px;
}

.h1-main {
    margin-left: 4%;
    font-size: 265%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-search{
    height: 4.5vh;
}

.search {
    width: 46%;
    height: 4.5vh;
    background-color: rgb(73, 19, 19);
    display: flex;
    align-items: center;
    min-height: 30px;

}

.input-main-search {
    width: 85%;
    height: 100%;
}

#search-input {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.3rem 0rem 0rem 0.3rem;
}

#search-input::placeholder{
    font-size: 120%;
}

#search-input :focus {
    border-radius: 0.3rem 0rem 0rem 0.3rem;

}

.input-main-button {
    display: flex;
    align-items: center;
    width: 15%;
    height: 90%;
    margin-top: 0.1%;

}

#search-button {
    color: var(--white);
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--button-color-2);
    border-radius: 0rem 0.3rem 0.3rem 0rem;
    cursor: pointer;

}

#search-button:hover {
    background-color: var(--button-color);  
}

.prod-search{
}

.ul-search-prod{
    background-color: var(--white);
    border-radius: 0 0 0.4rem 0.4rem;
}

.li-prod{
    color: var(--black);
}

.ul-header {
    display: flex;
    align-items: center;
    list-style: none;
    width: 22%;
    font-weight: 300;

}

.ul-header li {
    font-size: 160%;
    padding-right: 5%;
}

.ul-header a{
    text-decoration: none;
    color: var(--white);
}

.ul-header a:hover{
    color: var(--button-color-2);
}

.li-login{
    color: var(--white);
}

.nav-sec {
    display: flex;
    height: 5vh;
    justify-content: center;
    background-color: var(--black);
}

.ul-sec {
    font-size: 150%;
    width: 90%;
    height: 100%;
    display: flex;
    color: var(--header-color);
    list-style: none;
    justify-content: space-between;
    font-weight: 300;
    display: flex;
    align-items: center;
}

/* BODY */

/* CARROSSEL PRINCIPAL */

.body-main{
    min-width: 1370px;
}

.h1-body-main{
    color: var(--header-color);
    text-align: center;
    margin: 2% 0;
}

.span-red{
    color: var(--red);
}

.image-main {
    width: 60%;
    margin: 0 auto;
}

.image-main img {
    height: 65vh;
}


.slick-dots li button:before{
    color: var(--red) !important;
    font-size: 0.7rem !important;
}

/* CARROSSEL SEC */

.cards{
    width: 90%;
    min-width: 1500px;
    margin: 0 auto;
}

.cards-h1{
    margin: 5% 0;
    text-align: center;
    color: var(--white);
}

.cards-main{
   width: 100%;
   height: 100%;
}

.card{
    color: var(--letra-card);
    height: 53vh !important;
    margin: 0 0.2%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--card);
}

.produto-img{
    border-radius: 2rem;
    padding: 5%;
    width: 100%;
    height: 55%;
}

.infos{
    padding: 2% 5%;
    color: var(--white);
}

.infos h4{
    margin-top: 5%;
    font-size: 120%;
}


.infos p{
    margin: 3% 0;
    color: var(--letra-card);
    font-weight: bold;
}
.input-div{
    display: flex;
    justify-content: center;
}

.button-card{
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    padding: 10% 35%;
    margin-top: 12%;
    color: var(--white);
    background-color: var(--button-color-2);
}

.button-card:hover{
    background-color: var(--button-color);
}

/* MESSAGES */

.alert.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  
  .alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  .alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }