{% load static %}

<div class="body-main">
    <div class="h1-body">
        <h1 class="h1-body-main">Jogos mais <span class="span-red">VENDIDOS</span></h1>
    </div>
    <div class="image-main">
        <img src="{% static 'imgs/main-images/eld.jpg' %}" alt="Imagem" id="eld">
        <img src="{% static 'imgs/main-images/img-r4.jpg' %}" alt="Imagem" id="r4">
        <img src="{% static 'imgs/main-images/god.jpg' %}" alt="Imagem" id="god">    
    </div>
</div>

<div class="cards">
    <div class="cards-h1">
        <h1>Produtos mais vistos na <span class="span-red">GAMEHOUSE</span></h1>
    </div>

    <div class="cards-main">
        {% for prod in prods %}
            <div class="card">
                <img src="{{prod.img_prod.url}}" alt="{{prod.nome_prod}}" class="produto-img">
                <div class="infos">
                    <h3>{{prod.name_prod}}</h3>
                    <p>{{prod.text_prod}}</p>
                    <h4>{{prod.price_prod}}</h4>
                    <div class="input-div">
                        <a href="{% url 'prodSearch' prod.id %}" class="button-card">Comprar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>