<body>
<header class="header-main">
    <nav class="nav-main">
        <h1 class="h1-main">GAMEHOUSE&nbsp;<i class="fa-sharp fa-solid fa-dice"></i></h1>
        <div class="search">
            <div class="input-main-search">
                <input type="text" name="search" id="search-input">
            </div>
            <div class="input-main-button">
                <input type="button" value="SEARCH" id="search-button">
            </div>
        </div>
        <ul class="ul-header">
            <li>LOGIN</li>
            <li>CRIAR CONTA</li>
            <li><i class="fa-solid fa-cart-shopping"></i></li>
        </ul>
    </nav>
    <nav class="nav-sec">
        <ul class="ul-sec">
            <li>JOGOS</li>
            <li>MOUSES</li>
            <li>TECLADOS</li>
            <li>COMPUTADORES</li>
            <li>MONITORES</li>
            <li>PEÇAS</li>
        </ul>
    </nav>
</header>