<body>
<header class="header-main">
    <nav class="nav-main">
        <h1 class="h1-main">GAME<span class="span-red">HOUSE</span>&nbsp;<span class="span-red"><i class="fa-sharp fa-solid fa-dice"></i></span></h1>
        {% include "partials/search.html" %}
        <ul class="ul-header">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}"><i class="fa-regular fa-user"></i>&nbsp;&nbsp;Login</a></li>
                <li>Cadastre-se</li>
            {% else %}
                <li>Olá,</li>
                <li class="li-login">{{user.first_name}}</li>
                <li> | </li>
                <li><a href="{% url 'logout' %}">Sair</a></li>
            {% endif %}
            <li> | </li>
            <li><span class="span-red"><i class="fa-solid fa-cart-shopping"></i></span></li>
        </ul>
    </nav>
    <nav class="nav-sec">
        <ul class="ul-sec">
            <li>Jogos</li>
            <li>Mouses</li>
            <li>Teclados</li>
            <li>Computadores</li>
            <li>Consoles</li>
            <li>Monitores</li>
            <li>Peças</li>
        </ul>
    </nav>
</header>